footer {
    text-align: center;
}

.profilePhoto {
    background-image: url(./assets/profilePhoto.jpg);
    max-width: 25%;
    min-width: 10%;
  }

  img {
    max-width: 15%;
    height: auto;
  }