body {
    background-image: linear-gradient(to bottom, #3a14e0, #dfd1d1);
    background-repeat: no-repeat;
    background-size: cover;
}

/* about me page */

.profilePhoto {
    background-image: url(./assets/profilePhoto.jpg);
    max-width: 15%;
    min-width: 10%;
    border-color: red;
  }

  img {
    max-width: 25%;
    height: auto;
    border-radius: 50%;
    margin: 4%;
  }

.aboutMe {
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
    max-width: 50%;
    float: right;
    margin-top: 10%;
    margin-right: 10%;
  }

  /* footer */

  footer{
    text-align: center;
  }


  